
/* margin hard reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* root file */

:root {
    /* global color  */
  
    --pri_clr: #2607ef;
    --sec_clr: #2607ef;
    --txt_clr_1: #000;
    --txt_clr_2: #2e2b2b;
  
    /* global font  */
  
    --h1:32px;
    --h2:26px;
    --h3:18px;
    --body_txt:16px;
    --header_txt:18px;
  
    /* global spacing  */
  
    --pad: 16px;
    --mar: 16px;
  
    /* Image sizes */
  
    --logo_width: 200px ; 
    --logo_hight: 42px;
  
  }


body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1{

    font-size: var(--h1);

}

h2{

    font-size: var(--h2);
}

h3{

    font-size: var(--h3);
}

p{

    font-size: var(--body_txt);
}


/* Global settings */


.OuterSection{

    width: 100vw;
    display: flex;
    justify-content: center;
    

}


.InnerSection{

    width: 1140px;
    padding: 60px;
    display: flex;
    justify-items: center ;
    flex-flow: column;
    gap: 36px;
}


.title_box{
    
    display: flex;
    flex-flow: column;
    gap: 6px;
    
}


/* Global Settings */




.OuterBody{

width: 1140px;
margin: 0 auto;
padding: 0 20px;
}


/* Header css */

header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    color: black;
    padding: 20px 20px;
    position: sticky;
    background-color: white;
}

.logo {
    font-size: 1.5em;
}

.logo a img{

    width: 200px;
    height: 42  px;
}

.nav-links {
    display: flex;
    gap: 0px;
}

.nav-links a {
    color:black;
    text-decoration: none;
    padding: 8px 12px;
}

.nav-links a:hover {
    /* background-color: #575757; */
    border-radius: 4px;
    color: black    ;
    text-decoration: underline;
}

.hamburger {
    display: none;
    font-size: 1.5em;
    cursor: pointer;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #333;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 1.25em;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #575757;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 2em;
    margin-left: 50px;
}

@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr auto;
    }

    .nav-links {
        display: none;
    }

    .hamburger {
        display: block;
    }
}


/* hero section css */

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 40px;
    gap: 20px;
    width: 1140px;
}

article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0px;
    gap: 10px;
    

}

.intro-text {
    font-size: 16px;
}

.main-heading {
    font-size: 64px;
}

.sub-heading {
    font-size: 18px;
    font-weight: bold;
}

.description {
    font-size: 16px;
}

.cta-buttons {
    display: flex;
    gap: 24px;
    padding-top: 24px;
}

.btn {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #2B79E2;
    color: white;
    display: flex;
    width: fit-content;
    text-align: center;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid #2B79E2;
    color: #2B79E2;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    width: 570px;
    height: 520px;
}

@media (max-width: 768px) {
    .hero {
        grid-template-columns: 1fr;
    }

    .image-container img {
        width: 100%;
        height: auto;
    }
}


/* About Me Section */


.about-me {
    background-color: #EAEDF2;
    padding: 60px 0;
    margin: auto auto;
    display: flex;
    justify-content: center;
    
}

.about-me-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 36px;
    width: 1140px;


    
}

.about-me-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-me-image img {
    width: 540px;
    height: 520px;
    border: 16px solid white;
}

.about-me-content {
    display: grid;
    grid-template-rows: auto auto auto 1fr auto;
    gap: 20px;
    align-items: start;
}

.about-me-content h2 {
    font-size: 32px;
    font-weight: bold;
}

.about-me-content h3 {
    font-size: 18px;
    font-weight: bold;
}

.about-me-content p {
    font-size: 16px;
}

.about-me-details {
    display: grid;
    gap: 20px;
    align-self: center;
    list-style: none;
    padding: 0;
    
}

.about-me-details-box{

display: flex;
align-content: center;

}

.about-me-details li {
    font-size: 16px;
    margin-bottom: 10px;
}

.about-me-details strong {
    display: inline-block;
    width: 180px;
}


@media (max-width: 768px) {
    .about-me-container {
        grid-template-columns: 1fr;
    }

    .about-me-image img {
        width: 100%;
        height: auto;
    }
}


/* my services */

.Services{

display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 30px;

}


.ServiceCard{
display: flex;
flex-flow: column;
height: 360px;
width: 360px;
border: 1px solid rgb(112, 112, 112);
padding: 24px;
gap: 24px;

}


.ServiceCard img{

    width: 100px;
    height: 100px;

}




/* My projects CSS */


.Projects{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 30px;
    
    }
    
    .ProjectCard {
        position: relative;
        width: 360px; /* Adjust the width as needed */
        height: 360px; /* Adjust the height as needed */
        overflow: hidden;
        color: white;
        text-align: center;
        transition: 0.3s ease;
    }
    
    .ProjectCard .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0);
        display: flex;
        flex-flow: column;
        
    
    }
    
    .ProjectCard h3,
    .ProjectCard p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        transition: opacity 0.3s ease;
        
    }
    
    .ProjectCard:hover .overlay {
        background: rgba(0, 0, 0, 0.4);
    }
    
    .ProjectCard:hover h3,
    .ProjectCard:hover p {
        opacity: 1;
    }
    
    
    
   
    

